{% extends 'base.html.twig' %}

{% block title %}Products!{% endblock %}

{% block body %}
    <div class="container-product">
        {% if is_granted('ROLE_MANAGER') %}
            <a href="{{ path('product_add') }}">Product Add</a>
        {% endif %}
        <ul>
            <li class="header-product">
                <div class="row">
                    <div class="col-md-5">Product name</div>
                    <div class="col-md-3">Category name</div>
                    <div class="col-md-4">Action</div>
                </div>
            </li>
            {% for product in products %}
                <li>
                        <div class="row">
                            <div class="col-md-5">{{ product.name }}</div>
                            <div class="col-md-3">{{ product.category.name }}</div>
                            <div class="col-md-4">{% if is_granted('ROLE_MANAGER') %} <a href="{{ path('product_edit', {'id': user.id}) }}">Product Edit</a> {% endif %}</div>
                        </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
